@font-face {
    font-family: 'britannic-bold-regular';
    src: url("./fonts/Britannic-Bold-Regular.ttf") format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'britannic-bold-regular', sans-serif;
    max-width:100%;
}

.main-header{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-top: -200px;
}

.menu-header{
    position: static;
    background-color: #000;
}

.main-header div{
    display: block;
    text-align: center;
    margin-bottom: -220px;
}

.main-header nav{
    text-align: center;
    padding: 0 0 30px 0;
    color: #fff;
    font-weight: bolder;
}

.main-header nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    font-size: 1.1rem;
}

.main-header img{
    width: 350px;
    height: 100%;
}

.main-header a{
    text-decoration: none;
    color: #fff;
}

.main-header a:hover{
    color: #CA0610;
}


.sec-carousel{
    width: 100vw;
    background-color: #000;
    padding-top: 50px;
}

.carousel-inner{
    height: 95vh;
    border-radius: 10% 10% 0 0;
}

#sec-carousel__slider img{

    width: 100%;
    height: auto;

}

#carousel1{
    margin-top: -50px;
}

#carousel2{
    margin-top: -100px;
}

#carousel3{
    margin-top: -50px;
}

.sec-nosotros{
    width: 100vw;
    background-color: #000;
    padding: 10vh 100px;
}

.sec-nosotros__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.sec-nosotros__texto{
    color: #fff;
    width: 50%;
    text-align: center;
    margin: 10px;
    line-height: 1.2;
    font-size: medium;
}

.sec-nosotros__texto h1{
    color: #CA0610;
}

.sec-nosotros__img{
    background-image: url("../img/Nosotros.png");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 70vh;
}

.sec-nosotros__redes{
    display: flex;
    justify-content: flex-end;
    margin:  -125px 0 50px 0;
}

.sec-nosotros__redes div{
    background-color: #A6A6A6;
    width: fit-content;
    padding: 15px;
    margin: 0 5px;
    border-radius: 100%;
    z-index: 2;
}

.sec-nosotros__redes img{
    width: 75px;
    height: auto;
}

@keyframes fadeOutMenu {
    100%{
        transform: translatey(-500px);
    }
}

@keyframes fadeInMenu {
    0%{
        transform: translatey(-500px);
    }
    100%{
        transform: translatey(0px);
    }
}

.navup{
    animation-name: fadeOutMenu;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.navAgain{
    animation-name: fadeInMenu;
    animation-duration: 1s;
    animation-delay: 0s;
}

.sec-contacto-posteos{
    width: 100vw;
    background-image: url('../img/imagen\ de\ fondo.JPG');
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.sec-contacto-posteos__posteos{
    margin: auto;
    width: fit-content;
    color: #fff;
    background-color: #CA0610;
    padding: 20px;
}

.sec-contacto-posteos__contacto{
    margin: auto;
    width: 100vw;
    color: #CA0610;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 1%;
}

.sec-contacto-posteos__contacto__form{
    width: 50%;
    margin: auto;
}

.sec-contacto-posteos__contacto__form h2{
    color: #fff;
    background-color: #CA0610;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.btn{
    color: #fff;
    background-color: #CA0610;
    border-radius: 0px;
}

.btn:hover{
    background-color: rgba(202, 6, 16, 0.6);
    color: #fff;
    border: 1px solid rgba(202, 6, 16, 0.6);
}

.menu, .sucursales{

    background-color: #000;
    padding-bottom: 50px;
    height: fit-content;
    padding-top: 50px;

}

.menu h1, .sucursales h1{
    color: #fff;
    text-align: center;
    padding: 15px;
    background-color: #CA0610;
    display: block;
    margin-bottom: 20px;
}

.menu__display, .sucursales__display{
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}

.sucursales__display{
    width: 50%;
    margin-top: 100px;
}

.suc-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
    width: 300px;
    height: 500px;
    background-image: url("../img/extremasIcono.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    gap: 50px;
}

.location-suc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    width: 80%;
}

.location-suc img{
    width: 75px;
    height: 75px;
    filter: invert(100%);
}

.nombre-suc{
    text-transform: uppercase;
    font-size: xx-large;
    color: #fff;
    max-width: 75%;
    background-color: #EF2B24;
    border-radius: 2px;
    padding: 8px;
}

.dire-suc{
    margin: 0;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #EF2B24;
    border-radius: 2px;
    padding: 8px;
}

.card{
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    color: #fff;
}

.card, .card img{
    border-radius: 0;
}

.card h1{
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 10px;
}

.card-body{
    background-color: rgb(202, 6, 16);
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    resize: none;
}

footer{
    width: 100vw;
    text-align: center;
    background-color: #000;
    height: auto;
    padding: 20px 0;
}

footer p{
    color: #fff;
    margin-bottom: 0;
}

/* MEDIA QUERYS */

@media only screen and (min-width:901px) and (max-width:1400px){

    .carousel-inner{
        margin: 250px 0 -30px 0;
        border-radius: 0;
    }

    .main-header nav ul{
        gap: 30px;
    }

    .sec-nosotros__redes{
        justify-content: space-around;
    }

}

@media only screen and (min-width:768px) and (max-width:900px){

    .carousel-inner{
        margin: 250px 0 -500px 0;
        border-radius: 0;
    }

    .main-header nav ul{
        gap: 30px;
    }

    .sec-nosotros__redes{
        justify-content: space-around;
    }

}

@media only screen and (min-width:480px) and (max-width:767px){

    .main-header nav ul{
        flex-direction: column;
        gap: 5px;
    }

    .carousel-inner{
        margin: 380px 0 -550px 0;
        border-radius: 0;
    }

    .sec-nosotros__redes{
        justify-content: space-around;
    }

    .sec-nosotros__info{
        flex-direction: column;
    }

    .sec-nosotros__img{
        width: 100%;
    }

    .location-suc{
        flex-direction: column;
    }

    .suc-card{
        background-repeat: no-repeat;
        background-size: cover;
        width: 500px;
    }

}

@media only screen and (min-width:300px) and (max-width:479px){

    .main-header nav ul{
        flex-direction: column;
        gap: 5px;
    }

    .sec-nosotros__info{
        flex-direction: column;
    }

    .sec-nosotros__img{
        width: 100%;
    }

    .location-suc{
        flex-direction: column;
    }
    
    .suc-card{
        background-repeat: no-repeat;
        background-size: cover;
        width: 500px;
    }


}